# File generated automatically
CompileFlags:
  CompilationDatabase: /home/chery/Documents/FrozenStars/build

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
      - readability-*
      - concurrency-*
      - portability-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-length
      
Index:
  Background: Build

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: true
  HeaderInsertion: Never
